extends layout

block content
  p I built this app as a way to experiement with SEPTA's realtime APIs, and to provider a better alternative to 
    a(href="http://www.septa.org/realtime/status/system-status.shtml") SEPTA's System Status page.
  p Built with:
  ul
    li Express and Node.js
    li Jade and Bootstrap
    li Git

  p Source available on
    a(href="https://github.com/markbubel/septa-status")  GitHub.

  p A special thanks goes to 
    a(href="https://github.com/cbubel") github.com/cbubel
    |  for helping me build this app.