extends layout

block content
    .bs-example(data-example-id='simple-table')
        table.table
            caption All buses
            thead
                tr
                    th Route #
                    th Alerts
                    th Detours
                    th Advisories
            tbody
                tr
                    th(scope='row') 1
                    td
                    td
                    td
                tr
                    th(scope='row') 2
                    td
                    td
                    td
                tr
                    th(scope='row') 3
                    td
                    td
                    td