extends layout

block content
    h2 All bus routes
    form#bus-search
        .form-group
            label(for='exampleInputEmail1') Find bus route status
            input#query.form-control(type='email', placeholder='Route number')
            button#submit-button(type='number') Get status
    #bus-alert-details
    #bus-alerts-container
        .childOfbus-alerts-container
    