extends layout

block content
    
    table.table.table-hover
        tr
            th Route #
            th Alerts
            th Detours
            th Advisories
        table.table.table-hover#bus-alerts-container
    