extends layout

block content
    div#bus-alerts-container
        .bs-example(data-example-id='simple-table')
            table.table
                caption Bus Status
                thead
                    tr
                        th Route #
                        th Alerts
                        th Detours
                        th Advisories
                tbody
    