extends layout
block content
    ul.list-group
        li.list-group-item.rr-bg
            h4 Regional Rail
            p.list-group-item-text Good service
        li.list-group-item.mf-bg 
            h4 Market-Frankford
            p.list-group-item-text Good service
        li.list-group-item.bs-bg 
            h4 Broad Street
            p.list-group-item-text Good service
        li.list-group-item.t-bg 
            h4 Trolley Lines
            p.list-group-item-text Good service
        li.list-group-item.nhs-bg 
            h4 Norristown High Speed Line
            p.list-group-item-text Good service
        li.list-group-item.buses-bg 
            h4 Buses
            p.list-group-item-text Good service
        li.list-group-item.cct-bg 
            h4 CCT Connect
            p.list-group-item-text Good service