doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    
  body
    .container
      block content
    script(src='/javascripts/models/single-alert-list.js') 
    script(src='/javascripts/models/single-alert.js')    
    script(src='/javascripts/service.js')
    script(src='/javascripts/models/app.js')
    script(src='/javascripts/launcher.js')
    
