doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    
  body
    .container
      h1= title
      nav.navbar.navbar-default
          .container-fluid
            ul.nav.navbar-nav
              li
                a(href='/') Home
              li
                a(href='/about') About this app
      block content
        
    
