doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    
  body
    .container
      h1= title
      nav.navbar.navbar-default
          .container-fluid
            ul.nav.navbar-nav
              li
                a(href='/regional-rail') Regional Rail
              li
                a(href='/buses') Buses
              li
                a(href='/about') About this app
      block content
      footer &copy; 2017 Mark Bubel
      script(src='/javascripts/models/app.js')
      script(src='/javascripts/models/alert.js') 
      script(src='/javascripts/models/rr-alert-list.js')
      script(src='/javascripts/models/bus-alert-list.js')
      script(src='/javascripts/models/rr-alert.js')
      script(src='/javascripts/models/bus-alert.js')  
      script(src='/javascripts/service.js')
      script(src='/javascripts/launcher.js')
        
    
