#bus-alerts-container {
    display:flex;
    flex-wrap:wrap;
}

.childOfbus-alerts-container {
    padding:5px;
    margin-right:5px;
    margin-bottom:5px;
}

.childOfbus-alerts-container:hover {
    background:#333333;
    color:#ffffff;
}

.bus-search {
    margin-bottom:40px;
}

.btn {
    margin-top:15px;
     background:#333333;
     color:#ffffff;
}